In [12]:
# This scipt aims to convert OME-TIFF to tiff

In [1]:
import tifffile as tf

In [2]:
!pip install imagecodecs

^C
ERROR: Operation cancelled by user

In [6]:
path=r'/mnt/c/Users/sergio.salas/Documents/PhD/projects/Xenium_postprocessing/datasets_updated_25sept2022/xenium_prerelease_jun20_mBrain_replicates_updated/mBrain_ff_rep1'

In [4]:
def format_background(path):
    IM=tf.TiffFile(path+'/morphology_mip.ome.tif')
    position1_series = IM.series[0]
    position1_series.axes
    position1 = position1_series.asarray()
    tf.imwrite(path+'/background.tiff',position1)

'YX'

In [13]:
import pandas as pd
trans=pd.read_csv(path+'/transcripts.csv')

In [14]:
trans['x']=trans['x_location']/0.2125
trans['y']=trans['y_location']/0.2125

In [19]:
import numpy as np
np.sum(trans['cell_id']==-1)

661788

In [22]:
trans

,transcript_id,cell_id,overlaps_nucleus,feature_name,x_location,y_location,z_location,qv,x,y
0,281496451547136,6435,1,NegControlCodeword_0505,47.404972,2041.5103,13.592865,19.736050,223.082221,9607.107294
1,281496451547137,252,0,Sox10,7.492498,1074.2043,14.628445,19.876242,35.258814,5055.079059
2,281496451547138,5788,0,Neurod6,597.499200,1908.6559,13.913390,19.505224,2811.760941,8981.910118
3,281496451547139,4819,1,Neurod6,596.572800,1062.4052,15.545630,19.797620,2807.401412,4999.553882
4,281496451547140,5139,1,Dkk3,176.066730,1187.6486,14.824332,19.784027,828.549318,5588.934588
...,...,...,...,...,...,...,...,...,...,...
8161008,281513631826456,2248,1,Parm1,2903.128700,1953.1665,28.603460,20.588556,13661.782118,9191.371765
8161009,281513631826457,2231,1,Sema6a,2918.454300,1816.0531,29.642420,13.637909,13733.902588,8546.132235
8161010,281513631826458,2231,0,Rasgrf2,2921.778300,1818.0233,29.178177,15.616901,13749.544941,8555.403765
8161011,281513631826459,2234,1,Sema6a,2907.748000,1832.5303,29.274850,40.000000,13683.520000,8623.672000
8161012,281513631826460,24040,1,Zfp536,2884.126200,1746.9756,30.301258,40.000000,13572.358588,8221.061647

In [23]:
trans.loc[trans['cell_id']==-1,'overlaps_nucleus']=-1

In [24]:
tr=trans.loc[:,['x','y','feature_name','overlaps_nucleus']]

In [25]:
tr.to_csv(path+'/transcripts_transformed.csv')

In [11]:
position1.shape

(29051, 37106)

In [14]:
(position1.shape[0]*position1.shape[1])*0.2125*10e-6

2290.6786127500004

In [17]:
15*15

225

In [ ]:
img = position1[t, c, ...]